<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA7OSaHC8MeQocZixKkTJPCweVf41zOgBM</string>
	<key>GCM_SENDER_ID</key>
	<string>687931195851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.namaste.duotask.duotask</string>
	<key>PROJECT_ID</key>
	<string>duotask-c0885</string>
	<key>STORAGE_BUCKET</key>
	<string>duotask-c0885.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687931195851:ios:ea039ee83a0d8b0669f64e</string>
</dict>
</plist>